.login_form {
  width: 90%;
  margin: 10% auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  div {
    display: flex;
    justify-content: space-between;
    button {
      width: 40%;
    }
  }
  input,
  div {
    margin: 5px 0;
  }
}

@media only screen and (min-width: 600px) {
  .login_form {
    width: 30%;
  }
}